.bulk-modification-page {

  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  & > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    & > .title {
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &>.bulk-modifications-container {
    flex: 1;

    .bulk-modifications {
      .bulk-modification {
        .title-bar {
          justify-content: space-between;

          &, .left, .right {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          .left {
            .name {
              font-size: 16px;
            }

            .resource-count {
              color: var(--theme-text-subtle);
            }
          }

          .right {
            padding-right: 5px;

            .dt {
              color: var(--theme-text-subtle);
              display: flex;
              align-items: center;
              gap: 2px;
            }
          }
        }

        .next-collapse-panel-content {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .filters-panel, .variables-panel, .processes-panel, .result-panel {
            display: flex;
            align-items: flex-start;
            gap: 10px;

            & > .title {
              width: 100px;
              min-width: 100px;
              font-size: 16px;
            }
          }

          .filters-panel {
            & > .content {
              & > .filters {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: center;

                & > .group {
                  background: unset !important;
                }

                .group {
                  background: var(--theme-overlap-background-color);
                  padding: 2px;
                  border-radius: 4px;
                  border: 1px solid var(--theme-border-color);
                  display: flex;
                  flex-wrap: wrap;
                  gap: 5px;
                  align-items: center;

                  &:hover {
                    border-color: var(--theme-border-color-accent);
                  }

                  .filter {
                    background: var(--theme-overlap-background-color);

                    .property {
                      color: var(--theme-text-primary);
                      margin-right: 5px;
                    }

                    .operation {
                      color: var(--theme-text-subtle);
                    }

                    .target {
                      margin-left: 5px;
                      color: var(--theme-color-success);
                    }
                  }
                }
              }

              & > .opts {
                margin-top: 5px;
                display: flex;
                gap: 10px;
                align-items: center;

                .resource-count {
                  font-size: 12px;
                  color: var(--theme-text-subtle);
                }
                .filtered-at {
                  font-size: 12px;
                  color: var(--theme-text-subtle);
                }
              }
            }

            padding-bottom: 10px;
            border-bottom: 1px solid var(--theme-border-color);
          }

          .variables-panel {
            border-bottom: 1px solid var(--theme-border-color);
            padding-bottom: 10px;
          }

          .processes-panel {
            & > .content {
              & > .processes {
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                & > .process-demonstrator {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  padding-right: 5px;

                  &:hover {
                    cursor: pointer;
                    background: var(--theme-block-background-accent);
                    border-radius: 4px;
                  }

                  .primary {
                    flex-shrink: 0;
                    color: var(--theme-text-primary);
                  }

                  .secondary {
                    color: var(--theme-text-secondary);
                  }

                  pre {
                    margin: 0;
                  }

                  .no {
                    min-width: 24px;
                  }

                  .property, .property-key {
                    //color: var(--theme-text-primary);
                  }

                  .property {
                    flex-shrink: 0;
                    .iconfont {
                      margin-right: 3px;
                    }
                  }

                  .multiple {
                    .line {
                      gap: 5px;
                      display: flex;
                      align-items: center;
                    }
                  }

                  & > .icon-delete {
                    display: none;
                  }

                  &:hover {
                    & > .icon-delete {
                      display: block;
                    }
                  }
                }
              }

              & > .opts {
                display: flex;
                gap: 10px;
                align-items: center;
              }
            }

            padding-bottom: 10px;
            border-bottom: 1px solid var(--theme-border-color);
          }

          .result-panel {
            & > .content {
              flex: 1;

              &> .info {
                color: var(--theme-text-subtle);
                font-size: 12px;
                display: flex;
                flex-direction: column;
                gap: 2px;
                margin-bottom: 5px;
              }

              & > .opts {
                display: flex;
                gap: 10px;
                align-items: center;
              }

              & > .preview {
                color: var(--theme-text-subtle);
                display: flex;
                flex-direction: column;
                gap: 5px;
              }
            }
          }
        }
      }
    }
  }
}






















