.file-system-selector {

  .line1 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;

    .next-input {
      flex: 1;
      background-color: var(--theme-block-background-accent);
    }
  }

  .no-entry {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .entries {
    max-height: 400px;
    overflow: auto;
    padding: 0px 5px;
    border: 1px solid var(--theme-border-color);
  }

  &>.selected {
    margin-top: 10px;
    font-weight: bold;
    color: var(--theme-color-success);
  }

  .opt {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }

    .left {
      button {
        &:before {
          content: unset;
        }

        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
      }
    }
  }
}
