.tag-selector {
  margin: 5px;
  min-width: 600px;
  //max-width: 800px;
  //max-height: 700px;
  overflow-y: auto;

  .opt {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
