.alias-page {

  .form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    .item {
      display: flex;
      .label {
        display: flex;
        align-items: center;
        width: 100px;
        text-align: right;
      }
      .value {
        width: 400px;
        &>*{
          width: 100%;
        }
      }
    }
    .opt {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &>* {
        display: flex;
        gap: 5px;
        button {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 12px;
          padding: 0 8px;
          &:before {
            content: unset;
          }
        }
      }
    }
  }

  .aliases {
    .opts {
      display: flex;
      gap: 5px;
      button {
        display: flex;
        align-items: center;
        padding: 5px;
      }
    }

    .candidates {
      display: flex;
      gap: 5px;
      .candidate {
        background: var(--theme-button-normal-background);
        border-radius: 4px;
        padding: 1px 3px;
      }
    }
    .next-pagination {
      text-align: center;
      margin: 10px;
    }
  }
}
