.filter {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid var(--theme-border-color-accent);
  background: var(--theme-overlap-background-color);
}
