[submodule "src/libs/LazyMortal"]
	path = src/libs/LazyMortal
	url = https://github.com/anobaka/LazyMortal.git
[submodule "src/libs/Bakabase.Infrastructures"]
	path = src/libs/Bakabase.Infrastructures
	url = https://github.com/anobaka/Bakabase.Infrastructures.git
