html, body {
  --bakaui-primary: hsl(var(--nextui-primary));
  --bakaui-secondary: hsl(var(--nextui-secondary));
  --bakaui-foreground: hsl(var(--nextui-foreground));
  --bakaui-danger: hsl(var(--nextui-danger));
  --bakaui-warning: hsl(var(--nextui-warning));
  --bakaui-success: hsl(var(--nextui-success));

  --bakaui-color: var(--bakaui-foreground);

  --bakaui-background: hsl(var(--nextui-background));
}
