html, body {
  --bakaui-primary: hsl(var(--nextui-primary));
  --bakaui-secondary: hsl(var(--nextui-secondary));
  --bakaui-foreground: hsl(var(--nextui-foreground));

  --bakaui-color: var(--bakaui-foreground);
}
