.text-reader {
  max-height: 100%;
  overflow: auto;
  position: relative;
  min-width: 1000px;
  min-height: 600px;

  .configurations {
    width: 100%;
    padding: 0 20px;
    //position: fixed;
    background: white;
    display: flex;
    align-items: center;
    height: 40px;
    //top: 0;
    //left: 0;
    gap: 10px;
    .label {
      color: black;
    }
    .value {
      margin-right: 20px;
    }
    margin-bottom: 5px;
  }
  .content {
    padding: 5px;

    .no-content {
      color: #999;
    }
  }
}
