.b-rjsf {
  fieldset {
    margin: 0;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    border-radius: 4px;

    .field {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        display: flex;
        gap: 10px;
        .label {
          width: 120px;
          display: flex;
          align-items: center;
          word-break: break-all;
        }
        .value {
          flex: 1;
          display: flex;
          align-items: center;
          &>.next-input, &>.next-select, &>.next-table {
            width: 100%;
          }
        }

        &.error {
          font-size: 12px;
          color: red;
        }
      }
    }
  }
}
