.playlistCollection {
  min-width: 150px;
  max-height: 500px;
  border-radius: 4px;
  padding: 5px;
  background: var(--theme-body-background);
  border: 1px solid var(--theme-border-color);
  .item {
    padding: 5px;
    &:hover {
      background: var(--theme-block-background);
    }

    .extra {
      display: flex;
      gap: 5px;
      flex-direction: row;
      align-items: center;
      button {
        display: flex;
        align-items: center;
        gap: 2px;
        padding: 0 5px;
      }
    }
  }
  .opt {
    margin-top: 15px;
  }
}
