.propertySelector {
  .customProperties {
    display: flex;
    gap: 10px;
    &>* {
      border: 1px solid var(--theme-border-color);
      border-radius: 4px;
      padding: 10px;

      &.selected {
      }

      &.notSelected {
        border-style: dashed;
        flex: 1;
      }

      .title {
        font-weight: bold;
      }
      .list {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
      }
    }
  }
}
