.bulk-modification-variables {
  &>.values {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 15px;
    margin-bottom: 5px;

    .value {
      display: flex;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;

      &.custom {
        &:hover {
          border-radius: 4px;
          cursor: pointer;
          background: var(--theme-block-background-accent);
        }
      }
    }
  }
}

.bulk-modification-variable-dialog {
  .variable-form {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    align-items: center;
  }
}
