.fp-cmd {
  .fp-cmd-body {
    display: flex;
    align-items: flex-start;
    gap: 5px;

    .animated-arrow {
      margin-top: 80px;
    }

    .file, .dir {
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .file {
      color: red;
    }

    .dir {
      color: green;
    }
  }
}
