.password-selector-dialog {

  .title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .orders {
    margin-bottom: 15px;

    .content {

    }
  }

  .passwords {
    .content {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 5px;

      .password {
        display: flex;
        flex-direction: column;
        gap: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }

        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .info {
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #999;
          gap: 15px;

          .next-badge-count {
            background: #87d068;
          }
        }
      }
    }
  }
}
