.custom-property-dialog {
  .custom-property-form {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);

    &>.label {
      text-align: right;
    }

    &>.value {
      .type {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      &>.choice-list {
        .other-opts {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .sort {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
        .sortable-choices {
          margin: 10px 0;
          .sortable-choice {
            display: flex;
            gap: 5px;
            align-items: center;

            &>.next-input {
              flex: 1;
            }

            &>.drag-handle {
              color: var(--theme-text-subtle);
            }
          }
        }
        .add-opts {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &>* {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }
}

.grouped-property-types {
  background-color: var(--theme-block-background);
  border: 1px solid var(--theme-border-color-accent);
  padding: 10px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .group {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--theme-border-color-accent);
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
    .title {
      color: var(--theme-text-subtle);
      margin-bottom: 10px;
    }
    .types {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 5px;
      font-size: 14px;
      line-height: 20px;
      .type {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        &:hover {
          background: var(--theme-block-background-accent);
          cursor: pointer;
        }
      }
    }
  }
}

.add-choice-in-bulk-popup {
  padding: 15px;
  border-radius: 4px;
  background-color: var(--theme-block-background);
  border: 1px solid var(--theme-border-color-accent);

  textarea {
    width: 300px;
  }

  .title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .opts {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
