.resource-page {

  .panel {
    margin-bottom: 10px;

    .down {
      text-align: center;
      border-top: 1px solid var(--theme-border-color);
      border-bottom: 1px solid var(--theme-border-color);
      cursor: pointer;

      &:hover {
        background-color: var(--theme-border-color);
      }
    }
  }

  .other-operations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .left, .right {
      display: flex;
      align-items: center;

      & > * {
        display: flex;
        align-items: center;
      }
    }

    .right {
      & > * {
        margin-left: 30px;

        &.show-cover-on-hover {
          &>span:first-child {
            margin-right: 5px;
          }
        }

        &.bulk-operations {
          display: flex;
          gap: 5px;

          button {
            display: flex;
            align-items: center;
            padding: 0 5px;
            .next-badge {
              .next-badge-count {
                background: #03c1fd;
              }
            }
          }
        }
      }
    }
  }

  .pagination {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
  }


  .resources {
    display: grid;
    grid-template-rows: masonry;
    //background: white;
    user-select: none;

    .resource-container {
      position: relative;

      &.multiselection {
        &.selected {
          .selection-overlay {
            display: flex;

            .iconfont {
              color: #7dff7d;
            }
          }
        }

        &:hover {
          .selection-overlay {
            display: flex;
          }
        }
      }

      .selection-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 300px;

        .iconfont {
          color: white;
        }
      }
    }
  }
}

.resource-page-resource-tags-dialog {
  width: 800px;

  .tag-groups {
    margin: 15px;
    max-width: 800px;

    .group-name {
      color: #999;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .tag-group {
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      gap: 2.5px;

      .next-tag {
        //margin-right: 5px;
      }
    }
  }
}

.preview-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-component-resource-detail-dialog {
  .form {
    width: 1000px;
    display: grid;
    grid-template-columns: 10% 90%;

    & > * {
      margin-bottom: 15px;
      display: flex;
      align-content: center;

      & > * {
        width: 90%;
      }
    }
  }
}

.playlist-collection {
  &.resource-page {
    border: 1px solid var(--theme-border-color);
    border-radius: 4px;
  }
}

.other-options-popup {
  background: var(--theme-body-background);
  //min-width: 200px;
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  padding: 5px 0;
  .item {
    padding: 10px;
    &:hover {
      background: var(--theme-button-normal-background-hover);
    }
  }
}
