.resourcePage {
  position: relative;

  .pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0;
  }

  .resourceContainer {
    position: relative;

    .selectedCover {
      position: absolute;

    }
  }
}
