.ce-dialog {
  .ce {
    margin:0 30px;
    display: flex;
    gap: 50px;
    align-items: flex-start;

    .next-tree-node-label {
      max-width: 400px;
      overflow: hidden;
      //word-spacing: normal;
      //word-break: break-all;
      //word-wrap: break-word;
      text-overflow: ellipsis;
    }

    .animated-arrow {
      margin-top: 80px;
    }

    .entry, .sub-entry {
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .entry {
      color: red;
      text-decoration: line-through;
    }
    .sub-entry {
      color: green;
    }
  }
}
