.psc-smc {

  .custom-property {
    margin-bottom: 10px;

    .next-input {
      //box-shadow: rgba(0, 0, 0, 0.10) 0px 6px 24px 0px, rgba(0, 0, 0, 0.13) 0px 0px 0px 1px;
      //border: none;
      width: 100%;
    }
  }

  .mode {
    padding: 15px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 10px;
    cursor: pointer;

    .title {
      margin-bottom: 20px;

      .next-radio-wrapper {
        .next-radio-label {
          font-size: 18px;
        }
      }

      .tip {
        margin-top: 5px;
        font-size: 14px;
        color: #999;
      }
    }

    &:hover, &.active {
      box-shadow: rgba(0, 0, 0, 0.10) 0px 6px 24px 0px, rgba(0, 0, 0, 0.13) 0px 0px 0px 1px;
    }

    &.by-regex {
      .text {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        span {
          word-break: break-all;
          max-width: 300px;
          white-space: break-spaces;
          text-align: left;
          line-height: 14px;
        }
      }

      .test-result {
        margin-top: 5px;

        &.error {
          color: red;
        }

        &.values {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          gap: 5px;

          &>* {
            margin: 0;
          }
        }
      }
    }
  }

  .opts {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
