.favorites-page-detail-dialog {

  .form {
    width: 900px;
    //min-height: 400px;

    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 10px;

    .value {
      &>* {
        width: 100%;
      }
    }
  }
}
.favorites-page {
  .header {
    margin-bottom: 5px;
  }
}
