.iw-theme-light {
  //--theme-scrollbar-track-background: #444;
  //--theme-scrollbar-thumb-background: #686868;
  //--theme-scrollbar-thumb-hover-background: #7a7a7a;
  //
  //--theme-table-row-background: transparent;
  --theme-table-header-background: #f7f7f7;
  //--theme-table-background-hover: rgb(22, 27, 34);
  //
  --theme-button-normal-background: white;
  --theme-button-normal-background-hover: #f9f9f9;
  --theme-button-normal-background-active: #f9f9f9;
  --theme-button-normal-border-color: #ccc;
  --theme-button-normal-border-color-hover: #ccc;
  --theme-button-normal-border-color-active: rgb(204, 204, 204);
  //--theme-button-normal-color-disabled: rgb(72, 79, 88);
  //
  //--theme-button-primary-background: rgb(35, 134, 54);
  //--theme-button-primary-background-hover: rgb(46, 160, 67);
  //--theme-button-primary-background-active: rgb(35, 134, 54);
  //--theme-button-primary-border-color: rgba(240, 246, 252, 0.1);
  //--theme-button-primary-border-color-hover: rgba(240, 246, 252, 0.1);
  //--theme-button-primary-border-color-active: rgb(110, 118, 129);
  //
  --theme-button-secondary-background: var(--theme-button-normal-background);
  --theme-button-secondary-background-hover: #1274E7;
  --theme-button-secondary-background-active: #1274E7;
  --theme-button-secondary-border-color: #1274E7;
  --theme-button-secondary-border-color-hover: #1274E7;
  --theme-button-secondary-border-color-active: #1274E7;
  --theme-button-secondary-color-disabled: var(--theme-button-normal-color-disabled);

  //--theme-checkbox-background: rgba(59, 59, 59, 1);
  //--theme-checkbox-background-active: rgba(59, 59, 59, 1);
  //--theme-checkbox-border-color: var(--theme-border-color-accent);
  //--theme-checkbox-border-color-hover: rgb(255, 255, 255);
  //
  //--theme-radio-background: rgba(59, 59, 59, 1);
  //--theme-radio-background-active: #777;
  //
  //--theme-switch-on-trigger-background: rgba(59, 59, 59, 1);
  //
  //--theme-label-primary-background: rgba(56, 139, 253, 0.1);
  //
  //--theme-tag-primary-background-hover: rgb(31, 111, 235);
  //
  //--theme-button-warning-color: rgb(248, 81, 73);
  //
  //--theme-input-background: rgb(1, 4, 9);
  //
  --theme-border-color: #f0f0f0;
  //--theme-border-color-muted: rgb(33, 38, 45);
  --theme-border-color-accent: #e5f3ff;
  //
  --theme-body-background: white;
  --theme-block-background: #f7f7f7;
  --theme-block-background-invert: #090909;
  --theme-block-background-accent: #e7e7e7;
  //
  //--theme-text: #e6e6e6;
  //--theme-text-invert: #2f2f2f;
  --theme-text-subtle: #666;
  --theme-text-primary: rgb(47, 129, 247);
  //--theme-text-placeholder: #666;
  //
  //--theme-hover-base: #404040;

  --theme-file-processor-entry-background-color: transparent;
  --theme-file-processor-entry-background-color-hover: #e5f3ff;
  --theme-file-processor-entry-background-color-selected: #e5f3ff;

  --theme-dialog-background-color: var(--theme-body-background);

  --theme-menu-background-color: white;

  --theme-component-card-background-color: white;

  --theme-category-block-background-color: white;
}
