body {
  // fusion.design overrides
  --btn-text-normal-color: var(--theme-text-subtle);

  --btn-pure-primary-bg: var(--theme-button-primary-background);
  --btn-pure-primary-bg-hover: var(--theme-button-primary-background-hover);
  --btn-pure-primary-bg-active: var(--theme-button-primary-background-active);
  --btn-pure-primary-color: var(--theme-text);
  --btn-pure-primary-color-hover: var(--theme-text);
  --btn-pure-primary-border-color: var(--theme-button-primary-border-color);
  --btn-pure-primary-border-color-hover: var(--theme-button-primary-border-color-hover);
  --btn-pure-primary-border-color-active: var(--theme-button-primary-border-color-active);
  --btn-pure-primary-color-disabled: var(--theme-button-normal-color-disabled);
  --btn-pure-primary-bg-disabled: var(--theme-button-normal-background);
  --btn-pure-primary-border-color-disabled: var(--theme-button-normal-border-color);

  --btn-pure-normal-bg: var(--theme-button-normal-background);
  --btn-pure-normal-bg-hover: var(--theme-button-normal-background-hover);
  --btn-pure-normal-bg-active: var(--theme-button-normal-background-active);
  --btn-pure-normal-color: var(--theme-text);
  --btn-pure-normal-color-hover: var(--theme-text);
  --btn-pure-normal-border-color: var(--theme-button-normal-border-color);
  --btn-pure-normal-border-color-hover: var(--theme-button-normal-border-color-hover);
  --btn-pure-normal-border-color-active: var(--theme-button-normal-border-color-active);
  --btn-pure-normal-color-disabled: var(--theme-button-normal-color-disabled);
  --btn-pure-normal-bg-disabled: var(--theme-button-normal-background);
  --btn-pure-normal-border-color-disabled: var(--theme-button-normal-border-color);

  --btn-pure-secondary-bg: var(--theme-button-secondary-background);
  --btn-pure-secondary-bg-hover: var(--theme-button-secondary-background-hover);
  --btn-pure-secondary-bg-active: var(--theme-button-secondary-background-active);
  --btn-pure-secondary-color: var(--theme-text);
  --btn-pure-secondary-color-hover: var(--theme-text);
  --btn-pure-secondary-border-color: var(--theme-button-secondary-border-color);
  --btn-pure-secondary-border-color-hover: var(--theme-button-secondary-border-color-hover);
  --btn-pure-secondary-border-color-active: var(--theme-button-secondary-border-color-active);

  --radio-button-bg-color: var(--theme-button-normal-background);
  --radio-button-bg-color-hovered: var(--theme-button-normal-background-hover);
  --radio-button-font-color-hovered: var(--theme-text);
  --radio-button-font-color: var(--theme-text);
  --radio-button-border-color: var(--theme-button-normal-border-color);
  --radio-button-bg-color-checked: var(--theme-button-normal-background-active);

  --btn-warning-normal-bg: var(--theme-button-normal-background);
  --btn-warning-normal-border-color: var(--theme-button-normal-border-color);
  --btn-warning-normal-color: var(--theme-button-warning-color);

  --btn-text-primary-color: var(--theme-primary-base);
  --btn-text-primary-color-hover: var(--theme-primary-hover);

  --switch-normal-on-trigger-bg-color: var(--theme-switch-on-trigger-background);
  --switch-normal-off-trigger-bg-color: var(--theme-switch-on-trigger-background);

  --table-row-bg: var(--theme-table-row-background);
  --table-row-color: var(--theme-text);
  --table-row-hover-color: var(--theme-text);
  --table-row-hover-bg: var(--theme-table-background-hover);
  --table-normal-border-color: var(--theme-border-color);
  --table-th-bg: var(--theme-table-header-background);
  --table-th-color: var(--theme-text);
  --table-td-normal: var(--theme-table-row-background);
  --table-td-gray: var(--theme-table-background-hover);

  --radio-normal-font-color: var(--theme-text);

  --checkbox-label-color: var(--theme-text);
  --checkbox-bg-color: var(--theme-checkbox-background);
  --checkbox-hovered-bg-color: var(--theme-checkbox-background);
  --checkbox-checked-bg-color: var(--theme-checkbox-background-active);
  --checkbox-border-color: var(--theme-checkbox-border-color);
  --checkbox-hovered-border-color: var(--theme-checkbox-border-color-hover);
  --checkbox-checked-hovered-bg-color: var(--theme-secondary-base);

  --radio-bg-color: var(--theme-radio-background);
  --radio-checked-bg-color: var(--theme-radio-background-active);
  --radio-hovered-bg-color: var(--theme-radio-background-active);
  --radio-checked-hovered-bg-color: var(--theme-radio-background-active);
  --radio-border-color: var(--theme-border-color-accent);
  --radio-hovered-border-color: var(--theme-radio-background-active);
  --radio-checked-border-color: var(--theme-secondary-base);

  --balloon-tooltip-color-bg: var(--theme-block-background-invert);
  --balloon-tooltip-color: var(--theme-text-invert);

  --list-divider-color: var(--theme-border-color-muted);

  --input-bg-color: var(--theme-input-background);
  --input-focus-bg-color: var(--theme-input-background);
  --input-hover-bg-color: var(--theme-input-background);
  --input-border-color: var(--theme-border-color);
  --input-hover-border-color: var(--theme-border-color);
  --input-text-color: var(--theme-text);
  --input-addon-bg-color: var(--theme-button-normal-background);
  --input-addon-text-color: var(--theme-text-subtle);
  --input-label-color: var(--theme-text-subtle);
  --input-placeholder-color: var(--theme-text-placeholder);

  --select-color: var(--theme-text);

  ::placeholder {
    color: var(--theme-text-placeholder);
  }

  --tag-closable-bordered-text-color: var(--theme-text-subtle);
  --tag-closable-bordered-text-color-hover: var(--theme-text);
  --tag-closable-bordered-border-color-hover: var(--theme-button-normal-border-color-hover);
  --tag-closable-bordered-tail-color-hover: var(--theme-text);
  --tag-closable-bordered-border-color: var(--theme-button-normal-border-color);
  --tag-closable-primary-fill-bg-color: var(--theme-block-background);
  --tag-closable-primary-fill-bg-color-hover: var(--theme-block-background-accent);
  --tag-closable-primary-fill-text-color: var(--theme-text-subtle);
  --tag-closable-primary-fill-text-color-hover: var(--theme-text);
  --tag-fill-tail-color-hover: var(--theme-text);
  --tag-checkable-normal-text-color: var(--btn-pure-normal-color);
  --tag-checkable-normal-text-color-hover: var(--btn-pure-normal-color);
  --tag-checkable-normal-border-color: var(--btn-pure-normal-border-color);
  --tag-bordered-border-color: var(--theme-border-color);
  --tag-bordered-text-color-hover: var(--theme-text);
  --tag-bordered-text-color: var(--theme-text-subtle);

  //.ice-label {
  //  &.ice-label-default {
  //    &.ice-label-no-inverse {
  //      background-color: var(--theme-label-primary-background) !important;
  //    }
  //  }
  //}

  --menu-background: var(--theme-menu-background-color);
  --menu-background-hover: var(--theme-hover-base);
  --menu-color: var(--theme-text-subtle);
  --menu-color-hover: var(--theme-text);
  --menu-color-selected: var(--theme-text);
  --menu-background-selected: var(--theme-button-normal-background-hover);

  --popup-local-border-color: var(--theme-border-color-accent);

  --dialog-bg: var(--theme-dialog-background-color);
  --dialog-border-color: var(--theme-border-color-accent);
  --dialog-title-color: var(--theme-text);
  --dialog-content-color: var(--theme-text);
  --dialog-close-color: var(--theme-text-subtle);
  --dialog-close-color-hovered: var(--theme-text);

  --balloon-normal-color-bg: var(--theme-block-background);
  --balloon-normal-color-border: var(--theme-border-color-accent);
  --balloon-normal-color: var(--theme-text);

  --color-text1-4: var(--theme-text);

  .next-badge {
    .next-badge-count {
      color: var(--theme-text-invert);
    }
  }

  .next-date-picker2-wrapper,
  .next-calendar2,
  .next-time-picker2-menu-item,
  .next-range-picker2-arrow,
  .next-date-time-picker-wrapper,
  .next-calendar2-header,
  .next-time-picker2-menu,
  .next-date-picker2-footer {
    background-color: var(--theme-block-background);
    border-color: var(--theme-border-color-accent);
  }

  --message-success-color-bg-toast: var(--theme-block-background);
  --message-success-color-border-toast: var(--theme-border-color);
  --message-success-color-title-toast: var(--theme-text);
  --message-success-color-content-toast: var(--theme-text-subtle);

  --message-error-color-bg-toast: var(--theme-block-background);
  --message-error-color-border-toast: var(--theme-border-color);
  --message-error-color-title-toast: var(--theme-text);
  --message-error-color-content-toast: var(--theme-text-subtle);

  --tree-switch-border-color: var(--theme-button-normal-border-color);
  --tree-switch-border-color-hover: var(--theme-button-normal-border-color-hover);
  --tree-switch-bg-color: var(--theme-button-normal-background);
  --tree-switch-hover-bg-color: var(--theme-button-normal-background-hover);
  --tree-switch-icon-color: var(--theme-text-subtle);
  --tree-switch-hover-icon-color: var(--theme-text);
  --tree-node-normal-background: transparent;
  --tree-node-normal-color: var(--theme-text-subtle);
  --tree-node-selected-background: var(--theme-button-normal-background-active);
  --tree-node-selected-color: var(--theme-text);
  --tree-node-hover-bg-color: var(--theme-button-normal-background-hover);
  --tree-node-hover-color: var(--theme-text);
  --tree-line-color: var(--theme-border-color-accent);

  --drawer-bg: var(--theme-block-background);
  --drawer-border-color: var(--theme-block-background);

  --pagination-item-bg: var(--theme-button-normal-background);
  --pagination-item-border-color: var(--theme-button-normal-border-color);
  --pagination-item-color: var(--theme-text-subtle);
  --pagination-arrow-hover-color: var(--theme-text);
  --pagination-item-current-hover-bg: var(--theme-button-primary-background-hover);
  --pagination-item-current-bg: var(--theme-button-primary-background);
  --pagination-item-current-border-color: var(--theme-button-primary-background);
  --pagination-item-current-hover-color: var(--theme-text);
  --pagination-item-current-hover-border-color: var(--theme-button-primary-background);
  --pagination-total-color: var(--theme-text);

  --message-help-color-title-addon: var(--theme-text);
  --message-help-color-content-addon: var(--theme-text-subtle);
}
