.iw-theme-dark {
  --theme-scrollbar-track-background: #444;
  --theme-scrollbar-thumb-background: #686868;
  --theme-scrollbar-thumb-hover-background: #7a7a7a;

  --theme-table-row-background: transparent;
  --theme-table-header-background: rgb(22, 27, 34);
  --theme-table-background-hover: rgb(22, 27, 34);

  --theme-button-normal-background: rgb(33, 38, 45);
  --theme-button-normal-background-hover: rgb(48, 54, 61);
  --theme-button-normal-background-active: rgb(40, 46, 51);
  --theme-button-normal-border-color: rgba(240, 246, 252, 0.1);
  --theme-button-normal-border-color-hover: rgb(139, 148, 158);
  --theme-button-normal-border-color-active: rgb(110, 118, 129);
  --theme-button-normal-color-disabled: rgb(72, 79, 88);

  --theme-button-primary-background: rgb(35, 134, 54);
  --theme-button-primary-background-hover: rgb(46, 160, 67);
  --theme-button-primary-background-active: rgb(35, 134, 54);
  --theme-button-primary-border-color: rgba(240, 246, 252, 0.1);
  --theme-button-primary-border-color-hover: rgba(240, 246, 252, 0.1);
  --theme-button-primary-border-color-active: rgb(110, 118, 129);

  --theme-button-secondary-background: var(--theme-button-normal-background);
  --theme-button-secondary-background-hover: var(--theme-button-normal-background-hover);
  --theme-button-secondary-background-active: var(--theme-button-normal-background-active);
  --theme-button-secondary-border-color: var(--theme-button-normal-border-color);
  --theme-button-secondary-border-color-hover: var(--theme-button-normal-border-color-hover);
  --theme-button-secondary-border-color-active: var(--theme-button-normal-border-color-active);
  --theme-button-secondary-color-disabled: var(--theme-button-normal-color-disabled);

  --btn-pure-secondary-border-color: var(--theme-button-normal-border-color);
  --btn-pure-secondary-border-color-hover: var(--theme-button-normal-border-color-hover);
  --btn-pure-secondary-border-color-active: var(--theme-button-normal-border-color-active);

  --theme-checkbox-background: rgba(59, 59, 59, 1);
  --theme-checkbox-background-active: rgba(59, 59, 59, 1);
  --theme-checkbox-border-color: var(--theme-border-color-accent);
  --theme-checkbox-border-color-hover: rgb(255, 255, 255);

  --theme-radio-background: rgba(59, 59, 59, 1);
  --theme-radio-background-active: #777;

  --theme-switch-on-trigger-background: rgba(59, 59, 59, 1);

  --theme-label-primary-background: rgba(56, 139, 253, 0.1);

  --theme-tag-primary-background-hover: rgb(31, 111, 235);

  --theme-button-warning-color: rgb(248, 81, 73);

  --theme-input-background: rgb(1, 4, 9);

  --theme-border-color: rgb(48, 54, 61);
  --theme-border-color-muted: rgb(33, 38, 45);
  --theme-border-color-accent: #666f79;

  --theme-body-background: rgb(13, 17, 23);
  --theme-block-background: #252525;
  --theme-block-background-invert: #dadada;
  --theme-block-background-accent: #3a3a3a;

  --theme-text: #e6e6e6;
  --theme-text-invert: #2f2f2f;
  --theme-text-subtle: #c0c0c0;
  --theme-text-primary: rgb(47, 129, 247);
  --theme-text-placeholder: #666;

  --theme-hover-base: #404040;

  --theme-file-processor-entry-background-color: transparent;
  --theme-file-processor-entry-background-color-hover: var(--theme-button-normal-background-hover);
  --theme-file-processor-entry-background-color-selected: var(--theme-button-normal-background-active);

  --theme-dialog-background-color: var(--theme-block-background);

  --theme-menu-background-color: var(--theme-block-background);

  --theme-component-card-background-color: var(--theme-block-background);

  --theme-category-block-background-color: var(--theme-block-background);
}
