.inside-world {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  &>.nav-container {
    height: 100%;
    //background-color: #2f2f2f;
    background-color: var(--theme-block-background);
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    &>.nav {
      height: 100%;
      background-color: var(--theme-block-background);
      //background-color: #2f2f2f;

      display: flex;
      flex-direction: column;
      &>.top {
        border-bottom: 1px solid var(--theme-border-accent);
        padding: 20px 0 20px 10px;
        font-size: 16px;
        font-family: Artypa-Regular, Artypa;
        font-weight: 400;
        color: var(--theme-text);
        line-height: 31px;
        text-align: center;
        &:active {
          text-decoration: none;
        }
      }
      &>.menu {
        flex: 1;
        min-height: 0;
        overflow-y: auto;

        .next-nav.next-ver {
          height: unset;
          line-height: unset;
          border: none;
          background: var(--theme-block-background);

          .next-menu-sub-menu {
          }

          .next-menu-item.next-nav-item {
            //padding: 0 35px;
            //color: #343434;

            color: var(--theme-text);
            background: var(--theme-block-background);

            .next-menu-item-inner {
              height: unset;
              line-height: 46px;
              .next-menu-item-text {
                display: flex;
                align-items: center;
                gap: 10px;
              }
            }

            &.next-selected {
              background-color: var(--theme-primary-background);
              color: var(--theme-primary-base);
              &:before {
                content: none;
              }
            }
          }
        }
      }
      &>.bottom {
        border-top: 1px solid #EAEAEA;
        padding: 30px;
      }
    }

    &.shrinked {
      &>.nav {

      }
      &>.shrinker {

      }
    }

    &>.shrinker {
      height: 100%;
      display: flex;
      align-items: center;
      color: var(--theme-text-subtle);
      border-top-right-radius: 22px;
      border-bottom-right-radius: 22px;

      &:hover {
        background: var(--theme-hover-base);
      }
    }
  }

  &>.main {
    flex: 1;
    padding: 10px 10px 10px 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
