.inside-world {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  &>.nav-container {
    height: 100%;
    background-color: #f7f7f7;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    &>.nav {
      height: 100%;
      background-color: #f7f7f7;
      display: flex;
      flex-direction: column;
      &>.top {
        border-bottom: 1px solid #EAEAEA;
        padding: 20px 0 20px 10px;
        font-size: 16px;
        font-family: Artypa-Regular, Artypa;
        font-weight: 400;
        color: #100DB1;
        line-height: 31px;
        text-align: center;
        &:active {
          text-decoration: none;
        }
      }
      &>.menu {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        //padding: 0 35px;

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }
        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background: rgba(0,0,0,0.1);
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background: rgba(0,0,0,0.2);
        }
        &::-webkit-scrollbar-thumb:hover{
          background: rgba(0,0,0,0.4);
        }
        &::-webkit-scrollbar-thumb:active{
          background: rgba(0,0,0,.9);
        }

        .next-nav.next-ver {
          height: unset;
          line-height: unset;
          .next-menu-sub-menu {
          }

          .next-menu-item.next-nav-item {
            //padding: 0 35px;
            color: #343434;

            .next-menu-item-inner {
              height: unset;
              line-height: 46px;
              .next-menu-item-text {
                display: flex;
                align-items: center;
                gap: 10px;
              }
            }

            &.next-selected {
              background-color: rgba(16, 13, 177, 0.1);
              color: #100DB1;
              &:before {
                content: none;
              }
            }
          }
        }
      }
      &>.bottom {
        border-top: 1px solid #EAEAEA;
        padding: 30px;
      }
    }

    &.shrinked {
      &>.nav {

      }
      &>.shrinker {

      }
    }

    &>.shrinker {
      height: 100%;
      display: flex;
      align-items: center;
      color: #333;
      border-top-right-radius: 22px;
      border-bottom-right-radius: 22px;

      &:hover {
        background: #e9e9e9;
      }
    }
  }

  &>.main {
    flex: 1;
    padding: 10px 10px 10px 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
