.enhancer-selector {
  .enhancers {
    //display: grid;
    //grid-template-columns: repeat(4, minmax(0, 1fr));
    //gap: 5px;
    //
    //.enhancer {
    //  .targets {
    //    margin-top: 5px;
    //    gap: 2px;
    //    display: flex;
    //    align-items: flex-start;
    //    flex-wrap: wrap;
    //    .ice-label {
    //      font-size: 10px;
    //      margin-left: 0;
    //    }
    //  }
    //}
  }

  .priorities-table {
    .name {
      font-weight: bold;
      margin-right: 15px;
    }

    .enhancer-orders {
      display: flex;
      align-items: center;
    }
  }
}

.sortable-enhancer-order {
  z-index: 1005;
  margin: 0 5px;
  //border: 1px solid #bbb;
  //padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  width: auto !important;
  display: flex;
  align-items: center;
}
