.clickableIcon {
  cursor: pointer;

  &.normal {
    color: var(--theme-text-subtle);
  }

  &.danger {
    color: #ffa6a6;
  }

  &:hover {
    &.normal {
      color: var(--theme-text);
    }

    &.danger {
      color: red;
    }
  }
}
