.alias-selector {
  min-width: 600px;
}

.alias-selector-item {
  cursor: default;
  min-height: 24px;
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 5px;
  &:hover {
    background: #EEE;
  }
  .preferred {
    font-weight: bold;
    font-size: 14px;
  }

  .candidates {
    display: flex;
    gap: 5px;
    .candidate {
      color: #666;
      font-size: 12px;
    }
  }
}
