.bulk-modification-resource-diffs-dialog {

  .next-dialog-body {
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
  }

  .panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid var(--theme-border-color);

    &>* {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }

  .next-loading {
    flex: 1;
    .next-loading-wrap {
      width: 100%;
      height: 100%;
    }
  }

  .results {
    padding: 10px 0;
    flex: 1;

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid var(--theme-border-color);

      .resource {
        max-width: 20%;
        width: 20%;
        white-space: break-spaces;
        word-break: break-all;

        .id {
          font-size: 10px;
        }

        .path {
          font-size: 13px;
        }
      }


      .diffs {
        flex: 1;

        .diff {
          padding: 0 10px;

          //&:hover {
          //  background-color: var(--theme-block-background-accent);
          //}

          &:last-child {
            border: none;
          }

          border-bottom: 1px solid var(--theme-border-color);
          display: flex;
          align-items: center;
          gap: 5px;

          .property {
            margin-right: 5px;
            white-space: break-spaces;
            word-break: break-all;
            min-width: 60px;
            max-width: 60px;
            width: 60px;
          }

          .current {

          }

          .new {

          }

          .type {
            &.icon-modify {
              color: var(--theme-color-warning);
            }

            &.icon-plus-circle {
              color: var(--theme-color-success);
            }

            &.icon-delete {
              color: var(--theme-text-error);
            }
          }

          .next-icon-arrow-double-right {
            color: var(--theme-color-success);
            font-weight: bold;
          }

          .current, .new {
            white-space: break-spaces;
            word-break: break-all;

            .publisher {
              display: flex;
              align-items: center;
              gap: 5px;
            }

            .publishers {
              overflow-x: auto;
              border-radius: 4px;
              background: var(--theme-overlap-background-color);
              //border: 1px solid var(--theme-border-color);
              padding: 5px;
            }

            .volume {
              & > * {
                display: flex;
                align-items: center;
                gap: 5px;
              }
            }
          }
        }
      }
    }
  }
}
