.resource-property-page {
  .top-tip {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .next-tabs-tabpane {
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
  }
}
