.basic-category-component-selector {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 5px;
  padding: 5px;

  .add {
    border-radius: 4px;
    border: 1px solid var(--theme-border-color);
    cursor: pointer;
    background: var(--theme-component-card-background-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    min-height: 50px;

    font-size: 16px;

    &:hover {
      color: var(--theme-text-accent);
      border-color: var(--theme-border-color-accent);
    }
  }
}
