.playlist-collection {
  min-width: 150px;
  max-height: 500px;
  //border: 1px solid #ddd;
  padding: 5px;
  background: var(--theme-body-background);
  .next-list-item {
    padding: 5px;
    &:hover {
      background: var(--theme-block-background);
    }

    .next-list-item-extra {
      display: flex;
      gap: 5px;
      flex-direction: row;
      align-items: center;
      button {
        display: flex;
        align-items: center;
        gap: 2px;
        padding: 0 5px;
      }
    }
  }
  .opt {
    margin-top: 15px;
  }
}
