.downloader-configurations-dialog {

  &>.next-dialog-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .downloader-configurations {
    min-width: 800px;

    display: flex;
    gap: 5px;

    .forms {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
    }
  }
}
