.operations {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5px;
  border-radius: 4px;
  background: var(--theme-block-background);
  border: 1px solid var(--theme-border-color);
}

.portal {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
