.custom-component-page {
  .typed-components {
    h3 {
      display: flex;
      align-items: center;
      button {
        display: flex;
        align-items: center;
      }
    }

    .extensions {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;

      .ice-label {
        margin-left: 0;
      }
    }
  }
}

.custom-component-page-component-detail-dialog {

  &.player {
    .tip {
      .important {
        color: red;
      }
      color: #666;
      margin-top: 10px;
    }
    .detail {
      width: 1000px;

      .value {
        &.sub-players {
          .first-line {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .detail {
    width: 800px;
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &.executable {
        .value {
          text-align: left;
          button {
            width: auto;
          }
        }
      }

      .label {
        width: 20%;
        display: flex;
        align-items: center;
      }
      .value {
        flex: 1;
        &>* {
          width: 90%;
        }
      }
    }
  }
}
