.enhancement-record-page {
  .filter {
    display: flex;
    align-items: center;
    .item {
      display: flex;
      align-items: center;
      margin: 10px;
      .label {
        margin-right: 10px;
      }
    }
  }
  .next-pagination {
    margin: 10px 0;
  }
}
