.error-boundary {
  .tip {
    font-size: 16px;
    color: red;
    margin-bottom: 10px;
  }

  .info {
    display: grid;
    grid-template-columns: minmax(0, 80px) minmax(0, 1fr);
    gap: 5px;

    .key {
      font-weight: bold;
    }

    pre {
      margin: 0;
    }
  }
}
