.editable-tree {
  .next-tree-node-label {
    &:hover {
      background-color: transparent !important;
    }
  }
  .tree-node {
    display: flex;
    align-items: center;
    .opt {
      margin-left: 10px;
      color: #999;
      .next-icon:hover {
        color: #333;
      }
    }
  }
}
