.new-search-panel {
  color: #666;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &>.group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;

    .filter {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &.hide-children {
        .next-checkbox-label {
          font-size: 12px;
          color: #666;
        }
      }

      .keyword {
        width: unset;
        margin-right: 20px;
      }

      .hover-area {
        cursor: pointer;
        padding: 5px;
        display: flex;
        border-radius: 4px;
        align-items: center;

        .label {
          //display: flex;
          //align-items: center;
          //position: relative;

          &.has-value {
            .name {
              //position: absolute;
              //left: 0;
              //top: 0;
              font-size: 9px;
            }

            .value {
              //margin-top: 12px;
            }
          }


          .selected-media-libraries {
            display: flex;
            align-items: center;

            & > div {
              //margin: 0 5px 0 0;
              .name {

              }

              .category {
                font-size: 10px;
                color: #100DB1;
              }
            }
          }

          .selected-tags {
            display: flex;
            align-items: center;

            & > * {
              //margin-right: 5px;
            }
          }
        }

        &:hover {
          background: #ddd !important;
        }
      }

      .clear {
        visibility: hidden;
        color: red;
        position: absolute;
        top: -10px;
        right: -8px;
      }

      &.filtering {
        .hover-area {
          background: #eee;
        }

        .clear {
          visibility: visible;
        }
      }
    }

    &.last {
      align-items: center;
      justify-content: space-between;

      .other-options {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
      }
    }
  }
}

.resource-filter-popup {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--theme-border-color);
  background-color: var(--theme-body-background);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;

  .media-libraries {
    margin: 15px;

    .categories {

      &>.category {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0;
        &>.name {
          width: 120px;
          max-width: 120px;
          min-width: 120px;
          word-break: break-all;
          text-align: left;
          white-space: break-spaces;
          height: auto;
        }
        &>.libraries {
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          column-gap: 10px;
          row-gap: 2.5px;
          .next-checkbox {
            margin-right: 3px;
          }

          .next-checkbox-label {
            word-break: break-all;

            .name {

            }

            .count {
              font-size: 10px;
              color: var(--theme-text-primary);
            }
          }

          & > button:first-child {
            width: 100px;
            margin-right: 5px;
            overflow: hidden;

            span {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100px;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .submit {
      display: flex;
      justify-content: flex-end;

      button {
        margin-right: 10px;
      }
    }
  }

  .tag-selector {
    max-height: 500px;
    overflow-y: auto;
  }

  .filter-tag-selector-operations {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
