@font-face {
  font-family: "iconfont"; /* Project id 2282961 */
  src: url('iconfont.woff2?t=1710411928980') format('woff2'),
       url('iconfont.woff?t=1710411928980') format('woff'),
       url('iconfont.ttf?t=1710411928980') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-radiobox:before {
  content: "\e75b";
}

.icon-checkboxchecked:before {
  content: "\e67d";
}

.icon-attachment:before {
  content: "\e6bf";
}

.icon-percentage:before {
  content: "\e7e7";
}

.icon-multiline-text:before {
  content: "\e682";
}

.icon-multiple-select:before {
  content: "\e62b";
}

.icon-number:before {
  content: "\e643";
}

.icon-link:before {
  content: "\e676";
}

.icon-formula:before {
  content: "\e638";
}

.icon-single-line-text:before {
  content: "\e608";
}

.icon-multi_level:before {
  content: "\e60b";
}

.icon-Icon-null:before {
  content: "\e61e";
}

.icon-users:before {
  content: "\e651";
}

.icon-language:before {
  content: "\ebdf";
}

.icon-date:before {
  content: "\e637";
}

.icon-STATISTICS:before {
  content: "\e6fe";
}

.icon-customization:before {
  content: "\e887";
}

.icon-Series:before {
  content: "\e619";
}

.icon-introduction:before {
  content: "\e85b";
}

.icon-name:before {
  content: "\e661";
}

.icon-a-filename:before {
  content: "\e629";
}

.icon-modify:before {
  content: "\ebae";
}

.icon-treasure-chest:before {
  content: "\e8f8";
}

.icon-Network-Add:before {
  content: "\e86d";
}

.icon-FileSystem:before {
  content: "\e60e";
}

.icon-regex:before {
  content: "\ea40";
}

.icon-position:before {
  content: "\e606";
}

.icon-work:before {
  content: "\e623";
}

.icon-wait:before {
  content: "\e70b";
}

.icon-exit:before {
  content: "\e7cc";
}

.icon-node:before {
  content: "\e8ae";
}

.icon-zoom:before {
  content: "\e6e2";
}

.icon-play_fill:before {
  content: "\e717";
}

.icon-close:before {
  content: "\e6ea";
}

.icon-pause:before {
  content: "\e802";
}

.icon-playlistadd:before {
  content: "\ecae";
}

.icon-git-merge-line:before {
  content: "\e78a";
}

.icon-folder1:before {
  content: "\e6e9";
}

.icon-ellipsis-circle:before {
  content: "\e6ef";
}

.icon-sorting:before {
  content: "\e766";
}

.icon-Folderorganizer:before {
  content: "\e68c";
}

.icon-move:before {
  content: "\e65f";
}

.icon-deletecolumn:before {
  content: "\e901";
}

.icon-Arrowextractinterface:before {
  content: "\e65d";
}

.icon-rename:before {
  content: "\e630";
}

.icon-package:before {
  content: "\e741";
}

.icon-ADJUST_BY_MATERIAL:before {
  content: "\ea12";
}

.icon-up1:before {
  content: "\e6aa";
}

.icon-time:before {
  content: "\e680";
}

.icon-segment:before {
  content: "\e6a8";
}

.icon-rar:before {
  content: "\e634";
}

.icon-audio:before {
  content: "\e600";
}

.icon-video1:before {
  content: "\e76d";
}

.icon-file-symlink-file:before {
  content: "\e616";
}

.icon-return:before {
  content: "\e635";
}

.icon-preview:before {
  content: "\e63b";
}

.icon-file:before {
  content: "\e671";
}

.icon-deleteimage:before {
  content: "\e618";
}

.icon-image-redo:before {
  content: "\e813";
}

.icon-image-slash:before {
  content: "\e814";
}

.icon-image-block:before {
  content: "\e81c";
}

.icon-sell:before {
  content: "\e665";
}

.icon-bilibili:before {
  content: "\e62a";
}

.icon-bilibili-fill:before {
  content: "\e93e";
}

.icon-USB:before {
  content: "\e7c5";
}

.icon-Multiselect:before {
  content: "\e6a9";
}

.icon-search:before {
  content: "\e8f7";
}

.icon-question-circle:before {
  content: "\e787";
}

.icon-detail:before {
  content: "\e795";
}

.icon-undo:before {
  content: "\e789";
}

.icon-reload:before {
  content: "\e78d";
}

.icon-reddit:before {
  content: "\e886";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-moneycollect-fill:before {
  content: "\e863";
}

.icon-eye-fill:before {
  content: "\e86b";
}

.icon-collapse:before {
  content: "\e904";
}

.icon-expand:before {
  content: "\e905";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-close-circle:before {
  content: "\e77e";
}

.icon-minus-circle:before {
  content: "\e780";
}

.icon-plus-circle:before {
  content: "\e783";
}

.icon-timeout:before {
  content: "\e784";
}

.icon-warning-circle:before {
  content: "\e785";
}

.icon-redo:before {
  content: "\e788";
}

.icon-poweroff:before {
  content: "\e78c";
}

.icon-location:before {
  content: "\e790";
}

.icon-edit-square:before {
  content: "\e791";
}

.icon-save:before {
  content: "\e792";
}

.icon-control:before {
  content: "\e794";
}

.icon-codelibrary:before {
  content: "\e793";
}

.icon-plus-square:before {
  content: "\e797";
}

.icon-adduser:before {
  content: "\e7af";
}

.icon-deleteteam:before {
  content: "\e7b1";
}

.icon-deleteuser:before {
  content: "\e7b2";
}

.icon-addteam:before {
  content: "\e7b3";
}

.icon-user:before {
  content: "\e7b4";
}

.icon-filedone:before {
  content: "\e7b7";
}

.icon-filesync:before {
  content: "\e7b8";
}

.icon-filesearch:before {
  content: "\e7b9";
}

.icon-unlock:before {
  content: "\e7c9";
}

.icon-lock:before {
  content: "\e7cb";
}

.icon-moneycollect:before {
  content: "\e7cd";
}

.icon-shop:before {
  content: "\e7d0";
}

.icon-folder:before {
  content: "\e7d4";
}

.icon-folder-add:before {
  content: "\e7d6";
}

.icon-scan:before {
  content: "\e7d7";
}

.icon-select:before {
  content: "\e7d8";
}

.icon-camera:before {
  content: "\e7dd";
}

.icon-video:before {
  content: "\e7e1";
}

.icon-notification:before {
  content: "\e7e2";
}

.icon-sound:before {
  content: "\e7e3";
}

.icon-image:before {
  content: "\e7e4";
}

.icon-heart:before {
  content: "\e7e5";
}

.icon-star:before {
  content: "\e7e6";
}

.icon-key:before {
  content: "\e7e8";
}

.icon-pushpin:before {
  content: "\e7e9";
}

.icon-wrench:before {
  content: "\e7ea";
}

.icon-tags:before {
  content: "\e7eb";
}

.icon-shrink:before {
  content: "\e7ec";
}

.icon-arrawsalt:before {
  content: "\e7ed";
}

.icon-verticalright:before {
  content: "\e7ee";
}

.icon-verticalleft:before {
  content: "\e7f0";
}

.icon-right:before {
  content: "\e7f1";
}

.icon-left:before {
  content: "\e7f2";
}

.icon-up:before {
  content: "\e7f3";
}

.icon-down:before {
  content: "\e7f4";
}

.icon-fullscreen:before {
  content: "\e7f5";
}

.icon-fullscreen-exit:before {
  content: "\e7f6";
}

.icon-doubleleft:before {
  content: "\e7f8";
}

.icon-doubleright:before {
  content: "\e7f9";
}

.icon-arrowright:before {
  content: "\e7fa";
}

.icon-arrowup:before {
  content: "\e7fb";
}

.icon-arrowleft:before {
  content: "\e7fd";
}

.icon-arrowdown:before {
  content: "\e7fe";
}

.icon-upload:before {
  content: "\e7ff";
}

.icon-totop:before {
  content: "\e800";
}

.icon-vertical-align-top:before {
  content: "\e801";
}

.icon-menu:before {
  content: "\e803";
}

.icon-unorderedlist:before {
  content: "\e804";
}

.icon-orderedlist:before {
  content: "\e805";
}

.icon-check:before {
  content: "\e806";
}

.icon-dash:before {
  content: "\e808";
}

.icon-question:before {
  content: "\e80a";
}

.icon-bg-colors:before {
  content: "\e80b";
}

.icon-desktop:before {
  content: "\e843";
}

.icon-stop:before {
  content: "\e844";
}

.icon-IE:before {
  content: "\e87a";
}

.icon-amazon:before {
  content: "\e87b";
}

.icon-slack:before {
  content: "\e87c";
}

.icon-alipay:before {
  content: "\e87d";
}

.icon-taobao:before {
  content: "\e87e";
}

.icon-HTML:before {
  content: "\e87f";
}

.icon-chrome:before {
  content: "\e880";
}

.icon-aliwangwang:before {
  content: "\e881";
}

.icon-apple:before {
  content: "\e882";
}

.icon-android:before {
  content: "\e883";
}

.icon-sketch:before {
  content: "\e884";
}

.icon-windows:before {
  content: "\e885";
}

.icon-bug:before {
  content: "\e8e8";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-backward:before {
  content: "\e8ed";
}

.icon-caret-up:before {
  content: "\e8ee";
}

.icon-caret-right:before {
  content: "\e8ef";
}

.icon-caret-left:before {
  content: "\e8f0";
}

.icon-fast-backward:before {
  content: "\e8f1";
}

.icon-forward:before {
  content: "\e8f2";
}

.icon-fast-forward:before {
  content: "\e8f3";
}

.icon-step-backward:before {
  content: "\e8f4";
}

.icon-step-forward:before {
  content: "\e8f5";
}

.icon-woman:before {
  content: "\e8f6";
}

.icon-eyeclose-fill:before {
  content: "\e8ff";
}

.icon-eye-close:before {
  content: "\e900";
}

.icon-GIF:before {
  content: "\e90e";
}

.icon-file-GIF:before {
  content: "\e916";
}

.icon-delete:before {
  content: "\e7c4";
}

.icon-play-circle:before {
  content: "\e782";
}

.icon-folder-open:before {
  content: "\e7d1";
}

.icon-flashlight:before {
  content: "\e6fc";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-customerservice:before {
  content: "\e7ca";
}

.icon-sync:before {
  content: "\e786";
}

.icon-table:before {
  content: "\e7de";
}

.icon-block:before {
  content: "\e7df";
}

.icon-download:before {
  content: "\e7ef";
}

.icon-customerservice-fill:before {
  content: "\e869";
}

.icon-reddit-square-fill:before {
  content: "\e891";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-database:before {
  content: "\e7b0";
}

.icon-file-copy:before {
  content: "\e7bc";
}

.icon-experiment:before {
  content: "\e7c3";
}

.icon-rocket:before {
  content: "\e7ce";
}

.icon-shopping:before {
  content: "\e7cf";
}

.icon-cloud-server:before {
  content: "\e7d9";
}

.icon-cloud-upload:before {
  content: "\e7da";
}

.icon-cloud-download:before {
  content: "\e7db";
}

.icon-radarchart:before {
  content: "\e7dc";
}

.icon-font-size:before {
  content: "\e7f7";
}

.icon-ellipsis:before {
  content: "\e7fc";
}

.icon-fire:before {
  content: "\e842";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-deleterow:before {
  content: "\e902";
}

.icon-group:before {
  content: "\e915";
}

.icon-earth:before {
  content: "\e781";
}

.icon-dashboard:before {
  content: "\e78b";
}

.icon-wifi:before {
  content: "\e7e0";
}

.icon-down-circle:before {
  content: "\e77f";
}

