.bulk-modification-page {

  & > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    & > .title {
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .bulk-modifications {
    .bulk-modification {
      .title-bar {
        justify-content: space-between;

        &, .left, .right {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .left {
          .name {
            font-size: 16px;
          }

          .resource-count {
            color: var(--theme-text-subtle);
          }
        }

        .right {
          padding-right: 5px;

          .dt {
            color: var(--theme-text-subtle);
            display: flex;
            align-items: center;
            gap: 2px;
          }
        }
      }

      .next-collapse-panel-content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > * {
          display: flex;
          align-items: flex-start;
          gap: 10px;

          & > .title {
            width: 100px;
            min-width: 100px;
            font-size: 16px;
          }
        }

        .filters-panel {
          & > .content {
            & > .filters {
              display: flex;
              flex-wrap: wrap;
              gap: 5px;
              align-items: center;

              .group {
                padding: 2px;
                border-radius: 4px;
                border: 1px solid var(--theme-border-color);
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: center;

                &:hover {
                  border-color: var(--theme-border-color-accent);
                }

                .filter {
                  .property {
                    color: var(--theme-text-primary);
                    margin-right: 5px;
                  }

                  .operation {
                    color: var(--theme-text-subtle);
                  }

                  .target {
                    margin-left: 5px;
                    color: var(--theme-color-success);
                  }
                }
              }
            }

            & > .opts {
              margin-top: 5px;
              display: flex;
              gap: 10px;
              align-items: center;

              .resource-count {
                color: var(--theme-text-subtle);
              }
            }
          }

          padding-bottom: 10px;
          border-bottom: 1px solid var(--theme-border-color);
        }

        .variables-panel {
          border-bottom: 1px solid var(--theme-border-color);
        }

        .processes-panel {
          & > .content {
            & > .processes {
              display: flex;
              flex-direction: column;
              gap: 5px;

              & > .process-demonstrator {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-right: 5px;

                &:hover {
                  cursor: pointer;
                  background: var(--theme-block-background-accent);
                  border-radius: 4px;
                }

                .primary {
                  color: var(--theme-text-primary);
                }

                .secondary {
                  color: var(--theme-text-secondary);
                }

                pre {
                  margin: 0;
                }

                .no {
                  min-width: 24px;
                }

                .property, .property-key {
                  //color: var(--theme-text-primary);
                }

                .property {
                  .iconfont {
                    margin-right: 3px;
                  }
                }

                .multiple {
                  .line {
                    gap: 5px;
                    display: flex;
                    align-items: center;
                  }
                }
              }
            }

            & > .opts {
              margin-top: 10px;
              display: flex;
              gap: 10px;
              align-items: center;
            }
          }

          padding-bottom: 10px;
          border-bottom: 1px solid var(--theme-border-color);
        }

        .result-panel {
          & > .content {
            flex: 1;

            & > .opts {
              display: flex;
              gap: 10px;
              align-items: center;
            }

            & > .preview {
              color: var(--theme-text-subtle);
              display: flex;
              flex-direction: column;
              gap: 5px;

              & > .item {
                display: flex;
                align-items: center;
                gap: 10px;
                border-bottom: 1px solid var(--theme-border-color);

                .resource {
                  max-width: 20%;
                  width: 20%;
                  white-space: break-spaces;
                  word-break: break-all;
                  .id {
                    font-size: 10px;
                  }
                  .path {
                    font-size: 13px;
                  }
                }



                .diffs {
                  flex: 1;

                  .diff {
                    padding: 0 10px;

                    //&:hover {
                    //  background-color: var(--theme-block-background-accent);
                    //}

                    &:last-child {
                      border: none;
                    }

                    border-bottom: 1px solid var(--theme-border-color);
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .property {
                      margin-right: 5px;
                      white-space: break-spaces;
                      word-break: break-all;
                      min-width: 60px;
                      max-width: 60px;
                      width: 60px;
                    }

                    .current {

                    }

                    .new {

                    }

                    .type {
                      &.icon-modify {
                        color: var(--theme-color-warning);
                      }

                      &.icon-plus-circle {
                        color: var(--theme-color-success);
                      }

                      &.icon-delete {
                        color: var(--theme-text-error);
                      }
                    }

                    .next-icon-arrow-double-right {
                      color: var(--theme-color-success);
                      font-weight: bold;
                    }

                    .current, .new {
                      white-space: break-spaces;
                      word-break: break-all;

                      .publisher {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                      }

                      .publishers {
                        overflow-x: auto;
                        border-radius: 4px;
                        background: rgba(255, 255, 255, 0.1);
                        //border: 1px solid var(--theme-border-color);
                        padding: 5px;
                      }

                      .volume {
                        &>* {
                          display: flex;
                          align-items: center;
                          gap: 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}






















