.filterGroup {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  border-radius: 4px;
  border: 1px solid var(--theme-border-color-accent);
  font-size: 14px;
  padding: 5px;
  background: var(--theme-overlap-background-color);

  .removable {
    position: relative;

    .remove {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      transform: translate(50%, -50%);
      background: var(--theme-overlap-background-color);
    }
  }

  &.root {
    background: unset;
    border: unset;

    &>.remove {
      display: none;
    }
  }

  .combinator {

  }
}

.addMenuItem {
  padding: 0 5px !important;
  .text {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
