.resource-detail-dialog-custom-property-value {
  display: flex;
  align-items: center;
  gap: 10px;
  &>.value {
    cursor: pointer;

    &.not-set {
      //color: var(--theme-text-placeholder);
    }
  }
}
