.file-system-selector-dialog {
  .next-dialog-header {
    padding: 10px 0 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .next-dialog-body {
    padding: 10px 10px 10px 10px !important;
  }
}
