.fp-te-db {

  .common-tip {
    margin: 5px 0;
  }

  .password-guides {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .secondary {
      border-radius: 4px;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

      .tip {
        margin-bottom: 5px;
      }

      .passwords {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .next-tag {
          cursor: pointer;

          .next-tag-body {
            cursor: pointer;
          }
        }
      }
    }
  }
}
